# Imbalanced Dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import  seaborn as sns

In [2]:
dataset = pd.read_csv(r"D:\Project Data Set\Social_Network_Ads\New_Social_Network_Ads.csv")
dataset.tail(7)

     Age  EstimatedSalary  Purchased
393   60            42000          1
394   39            59000          0
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

In [3]:
dataset['Purchased'].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

#### no of 0 is in majority. tendency of the model to train on that. 
### It'll show prediction 0 most of the time as number of 'zero' is more than 1

In [4]:
x = dataset.iloc[:,:-1]
y = dataset['Purchased']

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)

In [6]:
from sklearn.linear_model import LogisticRegression
lr= LogisticRegression().fit(x_train, y_train)

In [7]:
lr.score(x_test, y_test)

0.8875

In [8]:
# to check if the model is biased let's check the prediction
lr.predict([[45, 26000]]) # 19	19000	0      # 45 26000	1

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

#### on this input 45, 26000 still showing ans 0 where as actual ans is 1. 
Obviously the model is biased.

# Random Undersampling

In [9]:
from imblearn.under_sampling import RandomUnderSampler

In [10]:
ru = RandomUnderSampler()
ru_x, ru_y = ru.fit_resample(x,y)

In [11]:
ru_y.value_counts()  # we can see o & 1 are now of same numbers. So it's a balanced data now

Purchased
0    143
1    143
Name: count, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(ru_x, ru_y, test_size=0.2, random_state=42)

In [13]:
from sklearn.linear_model import LogisticRegression
lr= LogisticRegression().fit(x_train, y_train)

In [14]:
lr.score(x_test, y_test)

0.7931034482758621

In [15]:
lr.predict([[51, 23000]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

### This way to can remove data biase

# Random Oversampling

In [19]:
dataset = pd.read_csv(r"D:\Project Data Set\Social_Network_Ads\New_Social_Network_Ads.csv")
dataset.head(3)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0

In [20]:
dataset['Purchased'].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [21]:
from imblearn.over_sampling import RandomOverSampler
ro = RandomOverSampler()
ro_x, ro_y = ro.fit_resample(x,y)

In [22]:
ro_y.value_counts()

Purchased
0    257
1    257
Name: count, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split
x_train1, x_test1, y_train1, y_test1 = train_test_split(ro_x, ro_y, test_size=0.2, random_state=42)

In [24]:
from sklearn.linear_model import LogisticRegression
lr1= LogisticRegression().fit(x_train1, y_train1)

In [25]:
lr.score(x_test1, y_test1)

0.8932038834951457

In [27]:
lr.predict([[45, 26000]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)